.env
notes/notes for function 1.txt
notes/notes for function 2.txt
notes/notes for function 3.txt
notes/notes for function 5.txt
notes/notes for function 6.txt
notes/notes for function 7.txt
notes/notes for function 8.txt
notes/notes on function 4.txt
